@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent default scroll for scroll-jacking */
  background-color: #f8fafc;
  /* Slate 50 */
  color: #0f172a;
  /* Slate 900 */
}